/* General styles */
body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-select-none {
  user-select: none;
}

.fw-regular {
  font-weight: 400 !important;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: white;
  background-color: #333333;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 22.4px;
  height: 60px;
  width: 60px;
  transition: all 0.1s ease-out;
}

.button:active {
  transform: scale(0.9);
}

/* Container */
.container {
  width: 290px;
  margin: auto;
  background-color: #1c1c1e;
  border-radius: 8px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-bottom: 18px;
}

/* Display */
.display {
  align-items: end;
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  color: white;
  text-align: right;
  margin-bottom: 15px;
  margin-right: 23px;
  overflow: hidden;
  height: 76px;
}

/* Buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Button Variants */
.orange {
  background-color: #ff9500;
}

.gray {
  background-color: #a5a5a5;
  color: black;
}

#zero {
  padding-right: 71px;
  border-radius: 40px;
}
