body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid black;
  padding: 17px;
  width: 220px;
}

.display {
  align-items: end;
  background-color: rgb(201, 215, 205);
  border: 1px solid black;
  display: flex;
  font-size: 18px;
  height: 20px;
  justify-content: flex-end;
  margin-bottom: 3px;
  padding: 10px;
  user-select: none;
  width: 197px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
}

.button {
  align-items: center;
  border: 1px solid black;
  cursor: grab;
  display: flex;
  height: 51px;
  justify-content: center;
  user-select: none;
  width: 51px;
}

.button:hover {
  background-color: rgb(201, 215, 205);
}

#zero {
  width: 106px;
}
